[Unit]
Description=Pizauth OAuth2 token manager
Documentation=man:pizauth(1) man:pizauth.conf(5)
Documentation=https://github.com/ltratt/pizauth/blob/master/README.md

[Service]
Type=simple
Restart=always
ExecStart=toolbox -c emacs-box run pizauth server -vvvv -d
ExecStop=toolbox -c emacs-box run pizauth shutdown

[Install]
WantedBy=default.target
