[Unit]
Description=Lock the screen before suspending
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:1
ExecStart=/usr/bin/i3lock -c 000000

[Install]
WantedBy=sleep.target
