TAB: menu-complete
"\e[Z": menu-complete-backward
"\e[1;5c": forward-word
"\e[1;5d": backward-word
"\e[A": history-search-backward
"\e[B": history-search-forward

set show-all-if-ambiguous on
set menu-complete-display-prefix on
set completion-ignore-case on
set colored-stats on
set colored-completion-prefix on
