*.log
*.pid
*.db
ranger/.config/ranger/*
!ranger/.config/ranger/rc.conf
mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf
mpdscribble.conf
vscode/.config/Code/*
!vscode/.config/Code/User
vscode/.config/Code/User/*
!vscode/.config/Code/User/settings.json
.netrwhist
scripts/.scripts/private/*
scripts/.scripts/git-prompt.sh
lazy-lock.json
