*.log
*.pid
*.db
ranger/.config/ranger/*
!ranger/.config/ranger/rc.conf
mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf
mpdscribble.conf
vscode/.config/code/*
!vscode/.config/code/User
vscode/.config/code/User/*
!vscode/.config/code/User/settings.json
.netrwhist
scripts/.scripts/private/*
