[Desktop Entry]
Type=Application
Version=1.0
Name=DrRacket
Comment=Program in Racket
Exec=drracket
Icon=drracket
Terminal=false
Categories=Education;Languages;Racket;
MimeType=text/racket

